*{
	margin:0;
	font-family:'Times New Roman', Times, serif;	
    text-decoration:black ;
}
body{
    background-image: url(../UTS_PBW/img/gmr2.png);
    background-size: 200px;
  
}
a{	
    text-decoration:none;
	color: rgb(236, 245, 252);
    height: 100px;

  }
header h1{
 font-size: 40px;
 text-align: center;
 font-weight: 700;
 height: 150px;
 background-image: url('../UTS_PBW/img/banner.jpg');
 background-size: 100px;
 color: rgb(150, 132, 110);
}
footer{
    background-image: url('../UTS_PBW/img/bg1.png');
    background-size: 100px;
    text-align: center;
    text-size-adjust: 50PX;
    padding-bottom: 115PX;
    margin: auto;
    font-weight: 500px;
    height: 70px;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(240, 227, 227);
}
.footer-content h3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

ul{
    padding: 60px;
    border: 1px 5px;
    height: 200px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.CV.html{
    height: 700px;
    width: 400px;
    padding: 30PX;
}
img{
    width: 100PX;
    height: 100PX;
}